html, body { height: 100%; overflow: hidden; margin: 0; background: #FAFAFA; color: #555; font: 16px/1.6em "Open Sans", sans-serif }

.title {
    position: relative;
    text-align: center;
    height: 35%;
    width: 100%;
    background: #FFF;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
}

.title h1 {
    position: absolute;
    top: 50%;
    margin-top: -0.7em;
    width: 100%;
    font: 60px/1.4em "PT Serif", Georgia, sans-serif;
    color: #444;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title p {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: 50px;
    color: #AAA;
}

.code {
    height: 65%;
    width: 100%;
    background: linear-gradient(to right, #FAFAFA, rgba(160, 160, 160, 0.2), #FAFAFA),
    linear-gradient(to bottom, #F5F5F5, #FFF 24px);
}

.hint {
    font: 30px/2em "PT Serif", Georgia, serif;
    font-weight: 700;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 60%
}

kbd {
    padding: .15em .6em .05em .6em;
    border: 1px solid #ccc;
    font-family: Menlo, monospace;
    background: #EEE;
    color: #AAA;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    border-radius: 5px;
    display: inline-block;
    margin: 0 .1em;
    text-shadow: -1px -1px 0 #888;
    line-height: 1.4;
    white-space: nowrap;
}

.console-history a {
    text-decoration: none;
    color: #6BF;
}

/***** Fork me on Github *****/

#fork-me-on-github {
    opacity: 0.8;
    background-color: #222;
    color: #FFF;
    display: block;
    position: fixed;
    z-index: 10;
    right: -6em;
    top: 3em;
    padding: 0.5em 5em 0.4em 5em;
    -webkit-transform: rotate(45deg) scale(0.75, 1);
    transform: rotate(45deg) scale(0.75, 1);
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 0.75em #444;
    font: bold 16px/1.2em Arial, Sans-Serif;
    text-align: center;
    text-decoration: none;
    letter-spacing: .05em;
}

#fork-me-on-github:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px rgba(255, 255, 255, 0.7) dashed;
    margin: -0.3em -5em;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
}

#fork-me-on-github:hover { opacity: 1; }
